<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Página de inicio</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h2>BetterReads</h2>
        <a href="#">Inicio</a>
        <a href="/profile">Perfil</a>
        <a href="/logout">Salir</a>
      </div>
      <div class="content">
        <h1>¡Bienvenido a BetterReads!</h1>
        <h4 style="font-size: medium; font-weight: 400; opacity: 75%;">¡Busca cualquier libro por su nombre o autor y mira las valoraciones de los usuarios!</h4>
        <form action="/search" method="POST">
          <div class="home-row">
            <input style="padding: 8px; border-radius: 8px; border-width: 0px; background-color: beige;" placeholder="Lean Startup" type="text" id="query" name="query" required />
          </div>
          <button class="home-button" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </body>
</html>
